@if(IsActive) {
    <button class="btn btn-danger btn-100">Delete</button>
    <button class="btn btn-success btn-100">Edit</button>
}

@code {
    // Input Parameters.
    [Parameter]
    public bool IsActive { get; set; }
}

<style>
.btn-100 {
    width: 100px;
}
</style>