@page "/Components/BlazorJS"
@inject IJSRuntime _JSRuntime

<div class="row">
    <button class="btn btn-secondary" @onclick="TestConfirmBox">Test Confirm Box</button>
</div>
<div class="row">
    <button class="btn btn-success" @onclick="ToastrSuccess">Toastr Success</button>
    <button class="btn btn-danger" @onclick="ToastrFailure">Toastr Failure</button>
</div>

<div class="row">
    @if(confirmResult) {
        <p>Confirmation has been made!</p>
    }
    else {
        <p>Confirmation pending..</p>
    }
</div>

@code {
    private string ConfirmMessage = "Are you sure you want to click?";
    private bool confirmResult { get; set; }
    private async Task TestConfirmBox() {
        confirmResult = await _JSRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);
    }
    private async Task ToastrSuccess() {
        await _JSRuntime.InvokeVoidAsync("ShowToastr", "success", "Success, nice.");
    }
    private async Task ToastrFailure() {
        await _JSRuntime.InvokeVoidAsync("ShowToastr", "error", "There's an Error.");
    }
}