@page "/Components/ParentComponent"

<h3>Parent Child Relation</h3>

<CascadingValue Value="@MessageForGrandChild2" Name="Message">
    <CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
        <_ChildComponent OnButtonClick="ShowMessage" Title="Title from Parent Component.">
            <ChildContent>Render Fragment from Parent.</ChildContent>
            <DangerChildContent>Danger!!!!</DangerChildContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p><b>@messageText</b></p>
<_AnotherChildComponent placeholder="Placeholder From Parent" maxLength="3"></_AnotherChildComponent>

@* <_ChildComponent Title="Second Title." /> *@

@code {
    // Variables.
    public string MessageForGrandChild2 = "This message is from your Grand Parent (Parent Component).";
    public string LuckyNumber = "7";
    public string messageText = "";

    // Methods.
    private void ShowMessage() {
        messageText = "Button clicked on Child Component.";
    }
}