@page "/Components/ParentComponent"

<h3>Parent Child Relation</h3>

<_ChildComponent OnButtonClick="ShowMessage" Title="Title from Parent Component.">
    <ChildContent>Render Fragment from Parent.</ChildContent>
    <DangerChildContent>Danger!!!!</DangerChildContent>
</_ChildComponent>

<p><b>@messageText</b></p>
<_AnotherChildComponent placeholder="Placeholder From Parent" maxLength="3"></_AnotherChildComponent>

@* <_ChildComponent Title="Second Title." /> *@

@code {
    // Variables.
    public string messageText = "";

    // Methods.
    private void ShowMessage() {
        messageText = "Button clicked on Child Component.";
    }
}